/*Nav bar*/
#logo {
  width: 20%;
  height: 20%;
}

.navbar {
  
  background-repeat: no-repeat;
  background-color: #e6d817 !important;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 600;
  letter-spacing: 1px;
}
.dropdown-menu {
  left: -97px;
}
.dropdown-item:hoover {
  background-color: rgba(0,0,0,0.3);
}
 
.form-inline {
  display: flex;
  justify-content: center;
}
.form-control {
  width: 60%;
}

/*section 3 card*/
.col-md-6 {
  background-color: #e6d817;
}

/*hero*/
header.masthead {
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin:auto;
  color: black;
  background: url('../assets/pictures/ella-olsson-KPDbRyFOTnE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  margin-top: auto;
  padding-left: 50%;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
  font-weight: 500;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

#searchbar {
  position: relative;
  width: 60%;
}

/* STYLES FOR THE CARDS PLEASE DO NOT TOUCH*/
/* Float four columns side by side */
.column {
  float: right !important;
  width: 5%;
  padding: 0 30;
  margin-right: 10px;
  column-gap: 30px!important;
  padding: 0 30;
}

/*.footerbox {
  background-color: #e6d817;
}*/
.footercard {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #e6d817;
  margin-top: 50px;
  padding: 25px 0;
  text-align: center;
  color: rgba(24, 6, 6, 0.3);
}

/* STYLES FOR THE CARDS PLEASE DO NOT TOUCH*/
/* Float four columns side by side */
.column {
  float: right !important;
  width: 5%;
  padding: 10 10px;
}

/* Style the counter cards */
.card {
  display: flex !important;
  box-shadow: 0 4px 8px 0 rgba(204, 240, 203, 0.808);
  padding: 50px;
  text-align: center !important;
  background-color: #ef950e;
  
}

.card-row {
  display: flex !important;
  flex-direction: row !important;
  justify-content: stretch !important;
  position: left !important;
  width: 90% !important;
  background-color: #1cb7bd !important;
}

